.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/stopify-banda.appspot.com/o/Banner-vetusta_morla-2.jpg?alt=media&token=a4d9cb8f-3a89-40b3-8e41-e9d182fbcf15');
    background-position: top center;
    background-size: contain;
    background-attachment: fixed;
    padding: 15%;

}

.icono{
    font-size: 73px;
}